<div class="container" [ngStyle]="{'overflow-y': scrollHeight ? 'scroll' : 'hidden', 'height': scrollHeight }">
  <ng-container *ngIf="searchStatus">
    <div class="searchContainer">
      <div><i class="fas fa-search"></i></div>
      <input type="text" class="globalInput" [(ngModel)]="filterText" />
    </div>
  </ng-container>
  <div class="ulContainer" *ngFor="let item of localData | searchFilter:filterText" (click)="change(item)">
    <app-checkbox [checkedStatus]="item.active" placeholder="{{ item.text }}"></app-checkbox>
  </div>
</div>