.input {
    box-sizing: border-box;
    border-style: solid;
    font-size: 16px;
    border-radius: 4px;
    padding: 6px;
    border: 1px solid #cccccc;
    color: black;
    background-color: #EEEEEE;
    border-color: #EEEEEE;
    font-weight: normal;
    font-style: none;
    font-family: sans-serif;
    &:focus {
      outline: none;
      border: 2px solid #1c64f2;
      box-shadow: 0px 0px 5px 0px rgba(51, 65, 85, 0.73);
      transition: 555ms;
    }
  }
  
  .ng-invalid.ng-touched {
    border-color: red;
  }