//Accordion
$accordion-content-color: white;
$accordion-header-color: white;
$accordion-header-hover-color: rgb(235, 234, 234);
//Button
$button-background-color: #3B82F6;
$button-background-color-hover: #15325A;
//Card
$card-background-color: white;
$card-header-background-color: white;
//ckeckbox list
$checkboxList-background-color: white;
$checkboxList-header-background-color: white;
//dialog
$dialog-background-color: white;
$dialog-header-background-color: white;
//listbox
$listbox-background-color: white;
$listbox-list-color-hover: #1c64f2;
//progesbar
$progesbar-color: green;
//tabView
$tabView-background-color: white;
$tabView-header-background-color: white;
//table
$table-up-container-background-color: white;
$table-container-background-color: white;
$table-pagination-background-color: rgb(232, 232, 232);
$table-pagination-drodwon-color: rgb(232, 232, 232);
$table-pagination-drodwon-color-hover: rgb(232, 232, 232);
$table-thead-background-color: rgb(232, 232, 232);
$table-tbody-background-color: white;