.addContainer {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 2%;
  padding: 0.8% 1.4%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container {
  border-radius: 8px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

  .headerContainer {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    align-items: center;
    padding: 0.8% 1.4%;
    background-color: white;

    h3 {
      font-size: x-large;
      color: #1e293b;
      font-weight: 600;
    }
  }

  hr {
    display: block;
    border: 0;
    border-top: 1px solid gray;
    margin: 0;
    padding: 0;
  }

  .pagination {
    border-radius: 8px;
    padding: 0.2%;
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.buttonGenislik {
  width: 10%;
}

table {
  border: none;
  width: 100%;

  .header {
    color: #1e293b;
    font-weight: 600;
    text-align: left;
    border-bottom: 2px solid gray;

    th {
      text-transform: capitalize;
      padding: 0.4% 1%;
      font-size: large;
      border-bottom: 2px solid gray;

      .iconFilterContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        cursor: pointer;
      }
    }
  }

  .filterHeader {
    text-align: left;

    th {
      text-transform: capitalize;
      padding: 0.2% 1%;
      font-size: large;
      border-bottom: 2px solid gray;

      .iconFilterContainer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        cursor: pointer;
      }
    }
  }

  tbody {
    tr {
      cursor: pointer;
      align-items: center;
      background-color: rgb(232, 232, 232);

      td {
        text-align: left;
        padding: 0.2vw 1vw;
        font-size: medium;
        border-bottom: 1px solid gray;
      }

      &:hover {
        background-color: gray;
        transition-duration: 0.8s;
      }
    }
  }
}

.paginationContainer {
  box-sizing: border-box;
  cursor: pointer;
  background-color: white;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: center;
  border-radius: 4px;
  padding: 4% 0%;

  div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;

    span {
      padding: 4px;
      font-size: medium;
      color: #334155;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
      border-radius: 4px;
    }
  }

  .paginationList {
    display: none;
    position: absolute;
    z-index: 100;
  }

  &:hover {
    box-shadow: 0px 0px 5px 0px rgba(51, 65, 85, 0.73);

    .paginationList {
      display: block;
      background-color: white;
      margin-top: 20px;

      li {
        width: 100%;
        cursor: pointer;
        border-bottom: 0.5px solid gray;
        color: #1e293b;
        font-size: medium;

        &:hover {
          background-color: #1c64f2;
          color: #cccccc;
        }
      }
    }
  }
}

.responseHeader {
  display: none;
}

@media only screen and (max-width: 960px) {

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  td {
    border: none;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    width: 100%;
    white-space: nowrap;
  }

  .responseHeader {
    display: block;
    text-transform: uppercase;
  }

  table {
    tbody {
      tr {
        border-bottom: 2px solid gray;
        padding-top: 0.8%;

        td {
          border: none;
          padding-bottom: 1.6%;
          display: flex;

          span {
            flex: 1;
          }

          div {
            flex: 2;
            width: 100%;

            button {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .paginationList {
    width: 50px;
  }

  .buttonGenislik {
    width: 30%;
  }
}