.checkboxHeader {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.8% 1.4%;
  background-color: #1e293b;
  align-items: center;
  width: 100%;

  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  h4 {
    margin: 1px;
    font-size: x-large;
    font-weight: 500;
  }
  div {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

.checkboxInput {
  padding: 0.8%;
  padding-top: 0.2%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.container {
  border: 1px solid #334155;
  border-radius: 8px;
  background-color: #334155;
  margin-top: 1.8%;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  hr {
    display: block;
    border: 0;
    border-top: 1px solid black;
    margin: 0;
    padding: 0;
  }
}
