.container {
  background-color: #334155;
  border: 1px solid #334155;
  border-radius: 12px;
  padding: 0.4%;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;

  .headerContainer {
    background-color: #131b2e;
    margin-bottom: 2vh;
    border-radius: 12px;
    padding: 0.4vw 1vw;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    h2 {
      font-size: x-large;
      font-weight: 500;
    }
  }

  .pagination {
    margin-top: 1vh;
    border-radius: 12px;
    padding: 0.2vw;
    text-align: center;
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
}

table {
  border: none;
  width: 100%;

  .header {
    text-align: left;
    background-color: #131b2e;
    th {
      padding: 0.2% 1vw;
      font-size: x-large;
      border-bottom: 2px solid #000000;
      .iconFilterContainer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
        cursor: pointer;
      }
      div {
        input {
          width: 100%;
        }
      }
    }
  }

  tbody {
    tr {
      cursor: pointer;
      align-items: center;
      td {
        text-align: left;
        padding: 0.2vw 1vw;
        font-size: medium;
        border-bottom: 1px solid #1e293b;
      }
      &:hover {
        background-color: #1e293b;
        transition-duration: 1s;
      }
    }
  }
}

.responseHeader {
  display: none;
}

@media only screen and (max-width: 960px), (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  td {
    border: none;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    width: 100%;
    white-space: nowrap;
  }

  .responseHeader {
    display: block;
    color: white;
    text-transform: uppercase;
  }

  table {
    tbody {
      tr {
        border: 1px solid #131b2e;
        td {
          border: none;
          padding-bottom: 0.8%;
          display: flex;
          span {
            flex: 1;
          }
          div {
            flex: 3;
            width: 100%;
            button {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

li {
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.2s;
  a {
    color: #2375d8;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s;
  }
  ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: block;
    margin: 12px -12px;
    padding: 0;
    background: #ffa91b;
    border: 2px solid #f7c833;
    border-right: 2px solid #f89329;
    border-bottom: 2px solid #f89329;
    border-radius: 5px;
    transition: opacity 0.2s, visibility 0.2s;
    li {
      margin: -2px 0 0 -2px;
      width: calc(100% - 20px);
      line-height: 1.7;
      a {
        color: #2375d8;
      }
    }
  }
  &:hover {
    background: #ec4138;
    border: 2px solid #f05749;
    border-right: 2px solid #e02a21;
    border-bottom: 2px solid #e02a21;
    a {
      color: #f9f8fd;
    }
    ul {
      visibility: visible;
      opacity: 1;
      box-shadow: 0px 3px 5px 2px #ebecf1;
      li {
        a {
          color: #f9f8fd;
        }
      }
    }
  }
}

@keyframes slide-in {
  0% {
    top: -50px;
  }
  40% {
    top: 20px;
  }
  70% {
    top: 10px;
  }
  100% {
    top: 15px;
  }
}      