.container {
  background-color: #334155;
  border: 1px solid #334155;
  border-radius: 12px;

  padding: 0.4vw;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  table {
    border: none;
    width: 100%;
    tbody {
      tr {
        cursor: pointer;
        align-items: center;
        td {
          text-align: left;
          padding: 0.2vw 1vw;
          font-size: large;
          border-bottom: 1px solid #1e293b;
        }
        &:hover {
          background-color: #1e293b;
          transition-duration: 1s;
        }
      }
    }

    .header {
      text-align: left;
      background-color: #131b2e;
      th {
        padding: 0.6% 1vw;
        font-size: x-large;
        border-bottom: 2px solid #000000;
        .iconFilterContainer {
          display: flex;
          flex-wrap: nowrap;
          justify-content: start;
          cursor: pointer;
        }
        div {
          input {
            width: 100%;
          }
        }
      }
    }
  }

  .headerContainer {
    background-color: #131b2e;
    margin-bottom: 2vh;
    border-radius: 12px;
    padding: 0.4vw 1vw;
    display: flex;
    width: auto; 
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    h2 {
      font-size: x-large;
      font-weight: 500;
    }
  }
  .pagination {
    margin-top: 1vh;
    border-radius: 12px;
    padding: 0.2vw;
    text-align: center;
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    
  }
}
