.container {
  border-radius: 8px;
  width: 100%;
  height: auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

  hr {
    display: block;
    border: 0;
    border-top: 1px solid whitesmoke;
    margin: 0;
    padding: 0;
  }

  .tabView {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-radius: 8px; 
    align-items: center;
    padding: 0.6% 1%;
    background-color: white;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    text-align: center;

    .tabViewHeader {
      padding: 0.8% 1.4%;
      font-size: large;
      cursor: pointer;

      &:hover {
        background-color: rgb(211, 211, 211);
        border-radius: 8px;  
      }
    }
  }
}

.active {
  background-color: rgb(211, 211, 211);

  border-radius: 8px;
}