.button {
  width: 100%;
  color: #eeeeee;
  background-color: #1c64f2;
  padding: 5px 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 8px;
  transition: 555ms;
  transform: translateY(0);
  border: none;
  text-transform: capitalize;
  align-items: center;
  cursor: pointer;

  &:hover {
    transition: 855ms;
    transform: translateY(-0px);
    background-color: rgb(3, 3, 230);
  }

  &:active {
    transform: scale(0.8, 0.8);
  }
}

.iconButton {
  font-size: 20px;
  background-color: #131b2e;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: #334155;
  font-size: large;

  &:active {
    transform: scale(0.8, 0.8);
  }
}