<div style="height: 100vh; padding: 1%">
  <!-- 
  <div class="grid">
    <div class="col-4">
      
    </div>
  </div>
  <div class="grid">
    <div class="col-6">
      <app-button class="button" (click)="tikla()" label="tikla"></app-button>
    </div>
  </div>
  
  <div style="width: 40%">
    
  </div> 

  <div class="grid">
    <div class="col-2">
      <app-button class="button" (click)="tikla()" label="tikla"></app-button>
    </div>
  </div>
  <app-toast [message]="message" [show]="show"></app-toast>  
  <app-checkbox [checkboxData]="value" checkboxHeader="bu deneme datası" [multiCheckbox]="false"></app-checkbox>
  
  <app-card header="deneme">
    <app-form [formGroup]="PersonelForm" [forms]="formsObject"></app-form>
  </app-card> 
  
  <button (click)="button()">deneem</button>

  <app-dialog [header]="'Bu deneme Dialogu'" [show]="show">
  </app-dialog>
  <button (click)="show = true">dsadsa</button> 

  <app-tabview>
    <app-tab tabTitle="bir"></app-tab>
    <app-tab tabTitle="iki"></app-tab>
    <app-tab tabTitle="uc">
      <div class="grid">
        <div class="col-4">
          <app-listbox
            [data]="dropdownCol"
            [searchStatus]="false"
            (selectedList)="dropdownMethod($event)"
          ></app-listbox>
        </div></div
    ></app-tab>
  </app-tabview> 

  <div class="grid">
    <div class="col-6">
      <app-progesbar [value]="1000"></app-progesbar>
    </div>
  </div>

  <app-accordion header="Table"
    ></app-accordion> 

  <form [formGroup]="PersonelForm">
    <app-input
      formControlName="telefon"
      placeholder="telefon"
      type="mask"
    ></app-input>
  </form>
  <button (click)="button()">dsadsasadsda</button>

  <app-dropdown
    [data]="dropdownCol"
    [multiStatus]="true"
    [searchStatus]="true"
    (selectedList)="dropdownMethod($event)"
    placeholder="deneme"
    [disabled]="false" 
  ></app-dropdown>
   
  <app-input
    [(ngModel)]="testInput"
    [ngModelStatus]="true"
    type="number"
    placeholder="telefon numarası"
  ></app-input>
  <app-input
    [(ngModel)]="denemeInput"
    [ngModelStatus]="true"
    placeholder="açıklama"
    type="textarea"
  ></app-input>
  <button (click)="button()">deneme</button>
 
  <p><span class="boldspan">Model data:</span> {{ dataModel }}</p> 
    <app-deneme  [(ngModel)]="dataModel">
      Write in this wrapper control:
    </app-deneme> 
  
    <app-card [header]="'card başlığı'">
    <div content></div>
  </app-card>
  -->

  <app-table
    [column]="col"
    [data]="data"
    [filterFormStatus]="true"
    [scrollWidthStatus]="true"
    [header]="'Cek tahsilat'"
    [paginationStatus]="true"
    [globalSearchStatus]="true"
    [headerButtonLabel]="'Ekle'"
    (headerButtonClick)="button()"
  ></app-table>

  <app-dialog [header]="'Deneme'" [show]="show" [width]="'80%'">
    <app-form [formGroup]="PersonelForm" [forms]="formsObject"></app-form>
  </app-dialog>
</div>
