.modal {
  background-color: #334155;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  border: 1px solid #334155;
  border-radius: 8px;
  width: 100%; 
  height: 100%;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  position: sticky;
  z-index: 10000;

  .header {
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    align-items: center;
    padding: 0.8% 1.4%;
    background-color: #1e293b;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;

    h3 {
      font-size: x-large;
      font-weight: 500;
    }

    i {
      font-size: large;
      cursor: pointer;
    }
  }

  .content {
    padding: 0% 0.4%;
    margin: 0.8% 0%;
    width: 100%;
    height: auto;
    position: relative;
  }
  hr {
    display: block;
    border: 0;
    border-top: 1px solid black;
    margin: 0;
    padding: 0;
    
  }
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #000;
  opacity: 0.75;

  z-index: 900;
}

//animation
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
