.sidebar-container {
    width: 13%;
    height: 100vh;
    overflow-y: auto;
}

.content-container {
    width: 87%;
    height: 100vh;
    overflow-y: auto;

    .navbar {
        width: 100%;
        height: 6%;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
        background-color: #ffffff;
    }

    .content {
        width: 100%;
        background-color: #F4F6F9;
    }

    .footer {
        width: 100%;
        height: 6%;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
        background-color: #ffffff;
    }
}