<div class="theme-container">
    <div class="sidebar-container" [ngStyle]="layoutService.sidebarShow ? {'width':'13%'} : {'width':'4%'}">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content-container" [ngStyle]="layoutService.sidebarShow ? {'width':'87%'} : {'width':'96%'}">
        <div class="navbar">
            <app-navbar></app-navbar>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
            <app-checkboxlist [checkboxData]="value" checkboxHeader="bu deneme datası"
                [multiCheckbox]="false"></app-checkboxlist>

            <app-table [column]="col" [data]="data" [filterFormStatus]="true" [globalSearchStatus]="true"
                [paginationStatus]="true" [header]="'Personel'" [headerButtonLabel]="'Ekle'" [checkListStatus]="true"
                [scrollWidthStatus]="true" (headerButtonClick)="button()"></app-table>
        </div>
        <div class="footer">
            <app-footer></app-footer>
        </div>
    </div>
    <div class="config-container" [ngStyle]="layoutService.configShow ? {'display':'flex'} : {'display':'none'}">
        <app-config></app-config>
    </div>
</div>