.input {
  border-style: solid;
  font-size: 16px;
  border-radius: 12px;
  padding: 6px;
  color: #1e293b;
  background-color: #cccccc;
  border-color: #1e293b;
  font-weight: normal;
  font-style: none;
  font-family: sans-serif;
  -webkit-appearance: none;
  &:focus {
    outline: none;
    border: 2px solid #1C64F2;
  }
  &:focus::placeholder {
    color: #eeeeee;
  }
}
