<div class="checkboxListContainer">
  <div class="checkboxHeader">
    <h4>{{ checkboxHeader }}</h4>

    <div class="actions">
      <!-- Select All -->
      <app-button
        *ngIf="!multiCheckbox && !selectedAllChecked"
        (btnClick)="selectedAll()"
        cssClass="iconButton"
        icon="fa-solid fa-check">
      </app-button>

      <!-- Clear All -->
      <app-button
        *ngIf="!multiCheckbox && selectedAllChecked"
        (btnClick)="selectedAllRemoveList()"
        cssClass="iconButton"
        icon="fa-solid fa-xmark">
      </app-button>

      <!-- Reverse Selection -->
      <app-button
        *ngIf="!multiCheckbox"
        (btnClick)="reverse()"
        cssClass="iconButton"
        [isDisabled]="selectedList.length === 0"
        icon="fa-solid fa-arrows-rotate">
      </app-button>
    </div>
  </div>

  <div class="grid">
    <div *ngFor="let item of checkboxData" class="col-6 col-sm-5 col-md-4 col-lg-2">
      <app-checkbox
        placeholder="{{ item.text }}"
        (click)="selection(item.value)"
        [styleInput]="'margin-top: 2%'"
        [checked]="selectedList.includes(item.value)">
      </app-checkbox>
    </div>
  </div>
</div>