.container {
  position: relative;
}

.headerContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  color: #131b2e;

  .iconContainer {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: absolute;
    margin-bottom: 8px;
    margin-right: 10px;
    color: #131b2e;

    i {
      cursor: pointer;
      color: #1c64f2;
      font-size: large;
    }
  }
}

.dropdownContainer {
  width: 100%;
  position: absolute;
  margin-top: 0.2%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-radius: 4px;
  padding: 8px 10px;
  color: #131b2e;
  z-index: 1800;
  font-size: medium;
  display: flex;
  justify-self: center;
  flex-direction: column;
}

.listContainer {
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: 555ms;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 5px;
  color: #131b2e;

  li {
    list-style: none;
    padding-left: 4px;
    color: #131b2e;
    border-bottom: #1c64f2;
  }

  &:hover {
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
  }
}

.searchContainer {
  padding-left: 4px;
  padding-right: 4px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  color: #131b2e;

  div {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: absolute;
    margin-bottom: 8px;
    margin-right: 10px;
    color: #131b2e;

    i {
      cursor: pointer;
      color: #334155;
      font-size: large;
    }
  }
}

.input {
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  color: #1e293b;
  background-color: whitesmoke;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  &:focus {
    outline: none;
  }
}