@import "app/reset.scss";
@import "app/grid.scss";

* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.globalInput {
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  color: #1e293b;
  background-color: whitesmoke;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  &:focus {
    outline: none;
  }
}