@import "app/reset.scss";
@import "app/grid.scss";
* {
  color: #EEEEEE;
  box-sizing: border-box;
  font-size: 14px;
  font-family: serif;
  // p {
  //   font-family: Lato;
  // }
}

.iconButton {
  font-size: 20px;
  background-color: #131b2e;
  align-items: center;
  border: none;
  cursor: pointer;
  &:active {
    transform: scale(0.8, 0.8);
  }
}

.input {
  border-style: solid;
  font-size: 16px;
  border-radius: 4px;
  padding: 4px;
  width: 100%;
  color: #1e293b;
  background-color: whitesmoke;
  border-color: #1e293b;
  font-weight: normal;
  font-style: none;
  font-family: sans-serif; 
  -webkit-appearance: none;
  &:focus {
    outline: none;
    border: 2px solid #1c64f2;
    box-shadow: 0px 0px 5px 0px rgba(51, 65, 85, 0.73);
    transition: 555ms;
  }
}

$container: #334155;
$headerContainer: #131b2e;
$hover: #1e293b;
$buttonHover: #1c64f2;
@mixin containerboxShodow {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}
@mixin containerHeaderBoxShodow {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
