.headerContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  color: #131b2e;
  .iconContainer {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: absolute;
    margin-bottom: 8px;
    margin-right: 10px;
    color: #131b2e;
    i {
      cursor: pointer;
      color: #1c64f2;
      font-size: large;
    }
  }
}

$background-color_2: rgb(248, 248, 248);
.modal {
  background-color: white;
  padding: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 10px;
  width: 300px;
  align-items: center;
  justify-content: center;
  height: 300px;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  position: absolute;
  z-index: 10000;
  .calendar-table {
    border: none;
    width: 100%;
    text-align: center;
    height: 84%;
    justify-content: center;
    align-items: center;

    .calendar-day {
      cursor: pointer;
      &:hover {
        background-color: $background-color_2;
      }
    }
    .calendar-day-header {
      width: 100%;
      height: 100%;
      p {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
  }
  .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    i {
      font-size: x-large;
      cursor: pointer;

      padding: 4px 8px;
      &:hover {
        background-color: #dee2e6;
        border-radius: 12px;
      }
    }
  }
}

.past-date {
  background-color: whitesmoke;
}
.blue-date {
  background-color: #1c64f2;
}

//animation
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
