<div class="addContainer" *ngIf="headerButtonLabel">
  <app-button class="button buttonGenislik" label="{{ headerButtonLabel }}" (btnClick)="headerButton()"></app-button>
</div>

<div class="container">
  <!-- Header -->
  <ng-container *ngIf="globalSearchStatus || header">
    <div class="headerContainer" [ngStyle]="{ 'justify-content': globalSearchStatus ? 'space-between' : 'center' }">
      <h3 *ngIf="header">{{ header }}</h3>
      <div *ngIf="globalSearchStatus || header">
        <input class="globalInput" type="text" placeholder="Search" [(ngModel)]="globalFilterText"
          *ngIf="globalSearchStatus" />
        <app-button class="iconButton" style="margin-left: 5px;" icon="fa-solid fa-table-columns"
          (btnClick)="collumsSettings()"></app-button>
      </div>
    </div>
  </ng-container>
  <!-- Header -->
  <div
    [ngStyle]="{'overflow-y': scrollHeight ? 'scroll' : 'hidden', 'height': scrollHeight, 'overflow-x': scrollWidthStatus ? 'auto' : 'hidden'}">
    <table>
      <!-- THead fa-solid fa-sort -->
      <thead>
        <tr class="header">
          <th *ngIf="checkListStatus" class="iconFilterContainer">
            <app-checkbox></app-checkbox>
          </th>
          <th style="border: none" *ngFor="let item of localColumn" [ngStyle]="{ width: item.width ? item.width : 'auto' }">
            <div *ngIf="item.field !== ''" class="iconFilterContainer" (click)="alphabeticalOrder(item.field)">
              <span>{{ item.header }}</span>
              <i *ngIf="item.field !== 'edit' && item.field !== 'delete' && item.field !== 'extra'"
                [class]="!filterIconStatus && selectedField == item.field ? 'fa-solid fa-sort-up' : 'fa-solid fa-sort-down'"></i>
            </div>
          </th>
        </tr>
        <!-- Form Filter bölümnü -->
        <tr *ngIf="filterFormStatus" class="filterHeader">
          <th *ngIf="checkListStatus" class="iconFilterContainer"></th>
          <th *ngFor="let item of localColumn">
            <div *ngIf="item.field !== 'edit' && item.field !== 'delete' && item.field !== 'extra'">
              <!-- burası header altı filter bölümü -->
              <ng-container [ngSwitch]="item.filterType">
                <input class="globalInput" *ngSwitchCase="'text'" placeholder="{{ item.filterPlaceholder }}" type="text"
                  (keyup)="inputSearch($any($event.target).value,item.field)" />
                <app-calender *ngSwitchCase="'calender'"></app-calender>
                <app-dropdown *ngSwitchCase="'dropdown'" [data]="item.filterData" [multiStatus]="false"
                  [searchStatus]="true" placeholder="{{ item.filterPlaceholder }}"
                  (selectedList)="dropdownFilter($event, item.field)">
                </app-dropdown>
                <app-dropdown *ngSwitchCase="'multiDropdown'" [data]="item.filterData" [multiStatus]="true"
                  [searchStatus]="true" placeholder="{{ item.filterPlaceholder }}"
                  (selectedList)="dropdownFilter($event, item.field)">
                </app-dropdown>
              </ng-container>
            </div>
          </th>
        </tr>
        <!-- Form Filter bölümnü -->
      </thead>

      <!-- THead -->
      <!-- TBody -->
      <tbody>
        <tr *ngFor="let data of localData | searchFilter : globalFilterText ? globalFilterText : ''">
          <ng-container *ngIf="checkListStatus">
            <td>
              <app-checkbox (click)="checkboxCheck(data)"></app-checkbox>
            </td>
          </ng-container>
          <td *ngFor="let col of localColumn">
            <span *ngIf="
              col.field !== 'edit' &&
              col.field !== 'delete' &&
              col.field !== 'extra'
            ">{{ col.header }}:</span>
            <div>
              <!-- inputlar -->
              <ng-container *ngIf="col.field !== '' && col.inputStatus && col.field">
                <div (click)="inputMethod(data)">
                  <input type="text" [(ngModel)]="data[col.field]" *ngIf="data === selected" class="globalInput" />
                  <p *ngIf="data !== selected">{{ data[col.field] }}</p>
                </div>
              </ng-container>
              <ng-container *ngIf="col.field !== '' && !col.inputStatus">
                <div>
                  <p>{{ data[col.field] }}</p>
                </div>
              </ng-container>
              <div *ngIf="col.field === 'edit'">
                <app-button icon="fa-solid fa-pen" (btnClick)="col.click!(data)"></app-button>
              </div>
              <div *ngIf="col.field === 'delete'">
                <app-button icon="fa-solid fa-trash" (btnClick)="col.click!(data)"></app-button>
              </div>
              <div *ngIf="col.field === 'extra'">
                <app-button label="{{ col.header }}" (btnClick)="col.click!(data)"></app-button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>

      <!-- TBody -->
    </table>
  </div>
  <!-- pagination  tamamdır-->
  <ng-container *ngIf="paginationStatus">
    <div class="pagination">
      <a (click)="paginationBefore()"><i class="fa-solid fa-angle-left"></i></a>
      <a *ngFor="let key of paginationList" [class.paginationActive]="selectedPagination === key"
        (click)="paginationNumber(key)">{{ key }}</a>
      <a (click)="paginationAfter()"><i class="fa-solid fa-angle-right"></i></a>
      <div class="paginationContainer">
        <div>
          <span>{{ paginationNumberText }}<i class="fa-solid fa-chevron-down"></i></span>
        </div>
        <ul class="paginationList">
          <li *ngFor="let number of [5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]"
            (click)="paginationListNumber(number)">{{ number }}</li>
        </ul>
      </div>
    </div>
  </ng-container>
  <!-- pagination -->
</div>

<app-dialog [header]="'Collums Ayarları'" [show]="collumsSettingsShow" [width]="'300px'" [height]="'50%'">
  <div class="grid" style="height: 100%;">
    <div class="col-12">
      <app-listbox [data]="collumsSettingCustomizable" [searchStatus]="true" [scrollHeight]="'90%'"
        (selectedList)="collumsMethod($event)"></app-listbox>
    </div>
  </div>
</app-dialog>